/* Archivo: css/style.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

/* Posiciona el video en la parte superior izquierda */
.video-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Asegura que el video esté por encima de otros elementos */
    width: 300px; /* Ajusta el tamaño del video según tus necesidades */
    height: 170px;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

/* Estilos adicionales para el resumen y el mensaje de éxito */
#resumen {
    display: none;
}

#successMessage {
    display: none;
    color: green;
    margin-top: 20px;
    text-align: center;
}
